@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
  font-size: 36px;
  margin: auto;
  padding: 0;
  max-width: 700px;
}

body {
  border: #000 solid 1px;
}

main {
  height: 1100px;
  padding-bottom: 200px;
}

h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  background-color: gray;
  padding: .75em 0;
  color: rgb(245, 250, 243);
  text-shadow: 5px 5px 10px black;
  font-size: 1.5em;
}

/*** HOME ***/
.home {
  text-align: center;
  background-image: url("/src/images/Halloween-background-teal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.randomizer {
  background-color: rgb(245, 250, 243);
  border-radius: 50px;
  padding: .5em;
  margin: 1em 1em;
  border: none;
  box-shadow: 16px 16px 28px 12px rgba(0, 0, 0, 0.24);
  outline: white solid 0px;
  transition: 0.2s all;
  text-align: center;
}

.randomizer:active {
  transform: scale(0.98);
  box-shadow: 8px 8px 20px 7px rgba(0, 0, 0, 0.24); 
}

.results {
  margin: auto;
  padding: 3em 1em; 
}

.results a {
  display: block;
  margin: .5em;
  text-decoration: none;
  color: rgb(34, 10, 56);
  cursor: pointer;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*** NAV ***/
.nav {
  text-align: center;
  display: flex;
  padding: .75em 0;
  background-color: rgb(34, 10, 56);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav .md {
  color: rgb(245, 250, 243);
}

/*** FAVORITES ***/
.favorites {
  margin: .5em
}

.row {
  border-top: 1px solid #000;
}

.col {
  display: flex;
}

/*** INDEX ***/
.outer-container {
  background-image: url("/src/images/spider-web.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  background-color: rgb(20, 110, 116);
  overflow: hidden;
}

h2 {
  font-family: 'Creepster', cursive;
  font-size: 1.75em;
  padding: .5em 0;
  text-align: center;
  text-shadow: 1px 1px 20px rgb(245, 250, 243);
}

.outer-container form {
  background-color: rgb(116, 185, 186);
  box-shadow: 4px 4px 10px black;
  padding: .25em;
  margin: 0 .25em;
}

.outer-container input {
  background-color: rgb(245, 250, 243);
}

.search {
  margin-right: 1em;
  font-size: .65em;
  padding: .1em .2em;
  width: 75%;
  outline: white solid 0px;
}

.button {
  border-radius: 50px;
  border: none;
  box-shadow: 8px 8px 14px 6px rgba(0, 0, 0, 0.24);
  outline: white solid 0px;
  transition: 0.2s all;
  text-align: center;
  cursor: pointer;
  font-size: .65em;
  padding: .15em .4em;
}

.button:active {
  transform: scale(0.98);
  box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0..24); 
}

.index-container {
  display: flex;
  flex-wrap: wrap;
  /* height: 700px; */
  overflow: hidden;
}

.map {
  width: 25%;
}

.index-container p {
  font-size: .4em;
  padding: 0 .75em;
}

.each {
  text-align: center;
  height: 25vh;
  background-color: rgb(116, 185, 186);
  height: 175px;
  width: 150px;
  box-shadow: 4px 4px 10px black;
}

img {
  height: 2em;
  margin: .5em .25em;
}

p {
  font-family: sans-serif;
}

.filling-empty-space-childs {
  width: 25%;
  height:0;
  flex-grow: 3;
}

footer {
  text-align: right;
}

footer button, .submit-button, .edit-delete {
  background-color: rgb(245, 250, 243);
  border-radius: 50px;
  padding: .5em;
  margin: 1em;
  border: none;
  box-shadow: 8px 8px 10px #000;
  outline: white solid 0px;
  transition: 0.2s all;
  text-align: center;
  font-size: .5em;
  cursor: pointer;
}

.arrow {
  text-align: right;
}

.arrow label {
  flex-grow: 3;
}

/*** NEW/EDIT FORM ***/
.form-container {
  padding: 1.5em;
  background-color: rgb(20, 110, 116);
  /* height: 700px; */
  background-image: url("/src/images/bats.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

form {
  background-color: rgb(116, 185, 186, .65);
  box-shadow: 4px 4px 10px black;
  padding: .75em;
}

label {
  padding-right: .1em;
  font-weight: 700;
  width: 55%;
  font-size: .75em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.field-wrap {
  display: flex;
  padding: .2em 0;
}
.field-wrap input {
  width: 100%;
  flex-grow: 1;
  font-size: .65em;
  padding: .1em .2em; 
  background-color: rgb(245, 250, 243);
}

.textarea-large {
  height: 200px;
}

.textarea-medium {
  height: 100px;
}

.submit-button {
  float: right;
  margin-top: 2.5em;
  width: 5em;
}

.back {
  margin-top: 1em;
}

/*** SHOW ***/
.show-container {
  padding: 1em;
  background-color: rgb(158, 20, 31);
  /* height: 700px; */
  background-image: url("/src/images/spider-web-opposite.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  overflow: hidden;
}

.show-flex {
  background-color: rgb(204, 80, 90, .65);
  box-shadow: 4px 4px 10px black;
  padding: .25em;
}

.show-row {
  display: flex;
  margin-bottom: .5em;
}

.show-col {
  padding-left: .5em;
  flex-grow: 3;
}

.pic {
  height: 7em;
  margin: 0;
}

h3 {
  font-family: sans-serif;
  font-size: .75em;
  border-bottom: 1px solid #000;
}

li {
  list-style: none;
  font-size: .6em;
}

.show-p {
  font-size: .5em;
}

.edit-delete {
  width: 5em;
  margin-top: 1em;
}

.edit-delete-buttons {
  flex-direction: row-reverse;
}