/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  font-size: 36px;
  margin: auto;
  padding: 0;
  max-width: 700px;
}

body {
  border: #000 solid 1px;
}

h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  background-color: gray;
  padding: .75em 0;
}

/*** HOME ***/
.home {
  text-align: center;
}

.randomizer {
  border-radius: 50px;
  padding: .5em;
  margin: 1em 1em;
}

.results {
  max-width: 80%;
  margin: auto;
  padding: 1em 0;
  background-color: antiquewhite;
}

.results a {
  display: block;
  margin: .5em;
}

/*** NAV ***/
.nav {
  text-align: center;
  display: flex;
  padding: .75em 0;
  background: gray;
  margin: .75em 0 0 0;
}

.nav a {
  color: #000;
}

/*** FAVORITES ***/
.favorites {
  margin: .5em
}

.row {
  border-top: 1px solid #000;
}

h2 {
  text-align: center;
}

.col {
  display: flex;
}

/*** INDEX ***/
img {
  height: 2em;
  margin: .5em .25em;
}

.index-container {
  display: flex;
  flex-wrap: wrap;
}

.map {
  width: 25%;
  /* height: 35vh; */
}

.index-container p {
  font-size: .4em;
  padding: 0 .75em;
}

.each {
  text-align: center;
  height: 25vh;
}

.filling-empty-space-childs {
  width: 25%;
  height:0;
  flex-grow: 3;
}